---
title: Child Injury Prevention Through Human Sled Experiments
---

%h2=current_page.data.title
%p
	Motor vehicle crashes (MVC) are the leading cause of death for children ages four years and older, with more than 5000 deaths per year for ages 21 years and younger. Specifically, traumatic head, spine and chest injuries are the most common serious injuries sustained by children in MVC regardless of age group, crash direction, or restraint type. Prevention of all these injuries through effective motor vehicle safety systems requires a good understanding of the body-region specific injury tolerance, as well as human-like crash test dummies to ensure development of safety systems to mitigate injuries in real children. The long-term goals of this research effort are to provide human subjects’ responses in pre-crash and crash phases that can be utilized by the biomechanics academic community, automotive and safety industries, and federal regulatory bodies. Some highlights of our research activities are listed below:
%p
	In collaboration with the Children’s Hospital of Philadelphia and the University of Virginia, we performed the world’s first low-speed frontal, lateral and oblique impact experiments on pediatric human volunteers to study head and spine kinematics.
.panel.text-center
	=image_tag "sled.png"
	%p
	%p Head and spinal kinematics, kinetics and muscle response of restrained rear seat pediatric and adult occupants in realistic far-side impact and pre-crash events

%p
	We were the first to report the inverse dynamics-based calculation of the forces and moments at the head-neck junction for pediatric and adult human volunteers exposed to a low speed frontal acceleration.
%p
	Our study was the first to report dynamic muscle responses of pediatric and adult volunteers in low-speed frontal impacts.
%p
	Ongoing study is focused on pediatric and adult occupant kinematics during low acceleration time extended (LATE) pre-impact events such as emergency braking, lateral furrowing and swaying.
%p
	These projects were supported by grants from Takata Corporation, Japan. Our human volunteer studies provide valuable insights into the effects of occupant arm position and seat belt tightening on occupant motion, muscle response, and upper neck forces and moments. The results from our studies will also help guide the design of safety countermeasures in automobiles, aid in the design and validation of advanced physical (crash test dummies) and computational human body models.