---
title: Research Overview
---

%h2=current_page.data.title

%h3 Pediatric Spine and Rib Cage Deformities
%p
	Scoliosis is a complex and progressive three-dimensional (3D) spine and rib cage deformity that affects five to nine million individuals in the United States. 65% of these cases are children between the ages of 10 and 18 years with unknown causation. Severe deformity progression causes significant chronic problems associated with growth restriction, breathing difficulties, degenerative spine disease and pain. Currently, there is a lack of evidence-based decision making for surgical intervention and medical device development to treat scoliotic deformities. Research in our lab has focused on both fundamental and applied studies that have generated scientific knowledge to inform the development of clinical tools and guidelines. The long-term goal of our research activities is to develop computational modeling tools that can be used by physicians to monitor and predict the progression of various thoracic deformity conditions, and to guide and test novel pre-treatment evaluations and interventions.  Some highlights of our research activities are listed below:
%p
	Using clinical Computed Tomography (CT) and X-ray images, we have quantified the normative thoracic spine geometry and growth in male and female children. This comprehensive study provides the first reference dataset for determining growth rates and growth remaining in the individual pediatric thoracic vertebrae.
.panel
	=image_tag "thoracic-vertebral-shape-with-age.png"
	%p
	%p.text-center Throacic Vertebral Shape with Age

%p
	Created age- and gender-based statistical average-shape models of the pediatric spine. Ongoing research is focused on developing scoliosis deformity-specific average shape models of the spine and rib cage.
.panel
	=image_tag "thoracic-spine-shape-models.png"
	%p
	%p.text-center Thoracic Spine Shape Models
%p
	Characterized the pathoanatomy of the rib hump deformity (i.e. one-sided protrusion of the ribcage) observed in scoliosis. Our findings suggest that the rib hump is the result of positional differences between the left and right ribs, rather than structural differences.
.panel.text-center
	=image_tag "ribcages.jpg"
	%p
	%p Normal vs. Scoliotic Ribcage

%p
	Developed patient-specific (PS) computational finite-element (FE) models for scoliosis, using a semi-automated method to morph normative shape template FE models of the spine and ribcage to PS geometries.
.panel
	=image_tag "morphing-of-spine-and-cage.png"
	%p
	%p.text-center Morphing of the Spine and Thoracic cage FE Template

%p
	Developed a novel algorithm that uses Active Appearance Modeling (AAM), Point Distribution Modeling (PDM) and dual-kriging morphing methods to create 3D rib cage reconstructions from ultra low-radiation dose 2D X-rays.
%p
	Ongoing morphological and biomechanical studies on a pseudo-biped surrogate for the pediatric human spine.

%h3{id: "child-injury-prevention"} Child Injury Prevention through Human Sled Experiments
%p
	Motor vehicle crashes (MVC) are the leading cause of death for children ages four years and older, with more than 5000 deaths per year for ages 21 years and younger. Specifically, traumatic head, spine and chest injuries are the most common serious injuries sustained by children in MVC regardless of age group, crash direction, or restraint type. Prevention of all these injuries through effective motor vehicle safety systems requires a good understanding of the body-region specific injury tolerance, as well as human-like crash test dummies to ensure development of safety systems to mitigate injuries in real children. The long-term goals of this research effort are to provide human subjects’ responses in pre-crash and crash phases that can be utilized by the biomechanics academic community, automotive and safety industries, and federal regulatory bodies. Some highlights of our research activities are listed below:
%p
	In collaboration with the Children’s Hospital of Philadelphia and the University of Virginia, we performed the world’s first low-speed frontal, lateral and oblique impact experiments on pediatric human volunteers to study head and spine kinematics.
.panel.text-center
	=image_tag "sled.png"
	%p
	%p Head and spinal kinematics, kinetics and muscle response of restrained rear seat pediatric and adult occupants in realistic far-side impact and pre-crash events

%p
	We were the first to report the inverse dynamics-based calculation of the forces and moments at the head-neck junction for pediatric and adult human volunteers exposed to a low speed frontal acceleration.
%p
	Our study was the first to report dynamic muscle responses of pediatric and adult volunteers in low-speed frontal impacts.
%p
	Ongoing study is focused on pediatric and adult occupant kinematics during low acceleration time extended (LATE) pre-impact events such as emergency braking, lateral furrowing and swaying.
%p
	These projects were supported by grants from Takata Corporation, Japan. Our human volunteer studies provide valuable insights into the effects of occupant arm position and seat belt tightening on occupant motion, muscle response, and upper neck forces and moments. The results from our studies will also help guide the design of safety countermeasures in automobiles, aid in the design and validation of advanced physical (crash test dummies) and computational human body models.
%h3{id: "pediatric-bone-biomechanics"} Pediatric Bone Biomechanics
%p
	Pediatric bone biomechanics research has lagged due to ethical hurdles and limited specimen supply of human pediatric bone tissue. While there is extensive literature on the mechanical and structural characteristics of adult long bones, strategies for fracture prevention and healing in children cannot be developed without similar pediatric bone data.
%p
	Ongoing research in our lab focuses on developing a novel multi-scale (i.e. molecular, cellular, tissue and organ levels) approach to systematically investigate and validate an immature animal surrogate for pediatric human bone tissue, which can further add to a comprehensive understanding of the function and form of pediatric bone. Such a validated pediatric age-equivalent animal model would uniquely enable researchers to conduct in vivo mechanical, biological and pharmacological studies on the dynamic bone tissue.  Our findings will serve as the foundation for several future research studies on pediatric long bones that have the potential to be diverse in nature encompassing biomechanics, clinical care, and nutrition and bone health.