---
title: Pediatric Bone Biomechanics
---

%h2=current_page.data.title

%p
	Pediatric bone biomechanics research has lagged due to ethical hurdles and limited specimen supply of human pediatric bone tissue. While there is extensive literature on the mechanical and structural characteristics of adult long bones, strategies for fracture prevention and healing in children cannot be developed without similar pediatric bone data.
%p
	Ongoing research in our lab focuses on developing a novel multi-scale (i.e. molecular, cellular, tissue and organ levels) approach to systematically investigate and validate an immature animal surrogate for pediatric human bone tissue, which can further add to a comprehensive understanding of the function and form of pediatric bone. Such a validated pediatric age-equivalent animal model would uniquely enable researchers to conduct in vivo mechanical, biological and pharmacological studies on the dynamic bone tissue.  Our findings will serve as the foundation for several future research studies on pediatric long bones that have the potential to be diverse in nature encompassing biomechanics, clinical care, and nutrition and bone health.