---
title: Contact Us
---

%h2=current_page.data.title

%p
	%strong Sriram Balasubramanian, PhD
	%br
	Assistant Professor
	%br
	School of Biomedical Engineering, Science and Health Systems
	%br
	%br
	Director and Co-chair, Clinical and Scientific Advisory Committee
	%br
	The Philadelphia Regional Pediatric Medical Device Consortium
	%br
	%br
	Office: Bossone 713
	%br
	Director, Orthopedic Biomechanics Laboratory
	%br
	Lab: Lebow Basement A-35
	%br
	Email:
	=mail_to "sri.bala@drexel.edu"
	%br
	Phone: 215.571.3738
	%br
	Fax: 215.895.4983
