---
title: Overview
---

.clearfix
	= image_tag "Sri-Balasubramanian.jpg", class: "right", width: "120"
	%h4 Sriram Balasubramanian, PhD
	%p
		Associate Professor
		%br
		Principal Investigator
	%p
		<strong>Office:</strong> Bossone 713
		%br
		<strong>Lab:</strong> Bossone 633
		%br
		<strong>Email:</strong>
		=mail_to "sri.bala@drexel.edu"
		%br
		<strong>Phone:</strong> 215.571.3738
		%br
		<strong>Fax:</strong> 215.895.4983



%hr

%h4 PhD Students
%ul
	%li Ausilah Alfraihat, MS
	%li Christine Holt, BS
	%li James R. Peters, BS

%hr

%h4 BS / MS Students
%ul
	%li Virginia Orozco, BS
	%li Meenakshi Patel
	%li Jennifer Sanville
	%li Param Shah, BS

%hr

%h4 Alumni
%ul
	%li Pranita Agashe, MS, 2017
	%li John Dougherty, MS, 2017
	%li Haritha Naveen, MS, 2017
	%li Omee Upadhaya, MS, 2017
	%li Emily A. Mathews, PhD, 2015
	%li Prasannaah Hadagali, MS, 2014
	%li Amanda Comeau, MS, September 2010
