---
title: Overview
---

%h3 Sriram Balasubramanian, PhD
.clearfix
	= image_tag "Sri-Balasubramanian.jpg", class: "left", width: "100"
	%p
		%strong Assistant Professor
		%br
		%strong Principal Investigator
		%br
		= link_to "Contact Information","#{http_prefix}contact/information", class: "more-link-blue"

%hr

%h4 PhD Students
%ul
	%li James R. Peters, BS
	%li Christine Holt, BS
	%li John Dougherty, BS

%hr

%h4 BS / MS Students
%ul
	%li Haritha Naveen, MS
	%li Pranita Agashe, MS
	%li John Lim
	%li Jennifer Sanville
	%li Meenakshi Patel
	%li Omee Upadhaya

%hr

%h4 Alumni
%ul
	%li Emily A. Mathews PhD [June 2015]
	%li Prasannaah Hadagali, MS [October 2014]
	%li Amanda Comeau, MS [September 2010]
