---
title: Contact Us
---

.clearfix
	= image_tag "Sri-Balasubramanian.jpg", class: "right", width: "120"
	%h2=current_page.data.title
	%h4 Sriram Balasubramanian, PhD
	%p
		%strong Associate Professor

	%p
		School of Biomedical Engineering, Science and Health Systems
	%p
		Director and Co-chair, Clinical and Scientific Advisory Committee
	%p
		The Philadelphia Regional Pediatric Medical Device Consortium
		%br
		%br
		<strong>Office:</strong> Bossone 713
		%br
		<strong>Lab:</strong> Bossone 633
		%br
		<strong>Email:</strong>
		=mail_to "sri.bala@drexel.edu"
		%br
		<strong>Phone:</strong> 215.571.3738
		%br
		<strong>Fax:</strong> 215.895.4983
