
%h4 Recent Publications
%ul.homepage

  %li 
    %strong Biomechanical Responses of Neonatal Brachial Plexus to Mechanical Stretch 
    %br
    %em J Brachial Plex Peripher Nerve Inj.
    , 2018

  %li 
    %strong Morphing the feature-based multi-blocks of normative/healthy vertebral geometries to scoliosis vertebral geometries: development of personalized finite element models
    %br
    %em Comput Methods Biomech Biomed Engin.
    , 2018

  %li 
  %strong Characterization of the age-dependent shape of the pediatric thoracic spine and vertebrae using generalized procrustes analysis
  %br
  %em Journal of Biomechanics
  , 2017


= link_to "More Publications", "publications/list", class: "more-link-blue"