
%h4 Recent Publications
%ul.homepage
  %li
    %strong Age- and Gender-Related Changes in Pediatric Thoracic Vertebral Morphology
    %br
    %em The Spine Journal
    , 2015

  %li
    %strong A Comprehensive Review of Thoracic Deformity Parameters in Scoliosis
    %br
    %em European Spine Journal
    , 2014

  %li
    %strong Forelimb Locomotor Rating Scale for Behavioral Assessment of Recovery after Unilateral Cervical Spinal Cord Injury in Rats
    %br
    %em Journal of Neuroscience Methods
    , 2014


= link_to "More Publications", "publications/list", class: "more-link-blue"