---
title: Home
---

%ul.bxslider
  %li= image_tag "slideshow-1.jpg", title: "Website under construction"
  %li= image_tag "slideshow-2.jpg", title: "Website under construction"
  %li= image_tag "slideshow-3.jpg", title: "Website under construction"