---
title: Home
---

%ul.bxslider
  %li= image_tag "OBL-Group-Photo.jpg", title: "Meet the Lab <br><a class='more-link' href='people/overview'>People Overview</a>"
  %li= image_tag "slideshow-1.jpg", title: "Research Spotlight: <br>Pediatric Spine and Rib Cage Deformities<br><a class='more-link' href='research/overview'>Learn More</a>"
  %li= image_tag "slideshow-2.jpg", title: "Research Spotlight: <br> Child Injury Prevention through Human Sled Experiments<br><a class='more-link' href='research/overview#child-injury-prevention'>Learn More</a>"
  %li= image_tag "slideshow-3.jpg", title: "Research Spotlight: <br> Pediatric Bone Biomechanics<br><a class='more-link' href='research/overview#pediatric-bone-biomechanics'>Learn More</a>"

%h3 Lab Overview
%p Research at the Orthopedic Biomechanics Laboratory focuses on developing novel biomedical engineering methods and advanced computational modeling tools to address the burden of debilitating pediatric skeletal deformities, traumatic injuries and orthopedic conditions. Our research findings in these under-studied areas have tremendous potential to impact the current practices in pediatric orthopedics and automotive child safety, and also provide the data and methods needed to guide future innovations.