---
title: Home
---

%ul.bxslider
  %li= image_tag "http://placehold.it/500x335&text=one", title: "Site under construction"
  %li= image_tag "http://placehold.it/500x335&text=two", title: "Site under construction"
  %li= image_tag "http://placehold.it/500x335&text=three", title: "Site under construction"
  %li= image_tag "http://placehold.it/500x335&text=four", title: "Site under construction"